---
import SpotifyPlayer from "./SpotifyPlayer.astro";
---

<article id="me1" class="article flex relative j_sb">
  <section class="text-content flex_col">
    <section class="top-section flex_col">
      <h1 class="Alumni_I">¿Sobre mí?</h1>
      <p class="Poppins-R">
        Mi nombre completo es Kevin Johan González Velandia.<br />
        Soy un desarrollador y diseñador de software Colombiano, Full-Stack,<br />
        con la ambición de especializarme en la ciberseguridad y lanzar un
        producto con potencial tecnologico.<br />
        Doy forma a las marcas digitalmente, fascinado por la intersección
        de la creatividad y la lógica.<br />
        A pesar de la apariencia de mi webpage, soy un amante de la simplicidad,
        el minimalismo y la complejidad de las relaciones interpersonales.<br />
        Soy consciente de la importancia de los aspectos técnicos y creativos,<br />
        siempre en busca de la mejora personal.<br />
        Me encanta colaborar en grandes proyectos con gente talentosa e interesante.<br />
        ¿Necesitas una mano? Yo tengo dos.
      </p>
    </section>
    <SpotifyPlayer />
  </section>
  <section class="image-section unselected">
    <img
      src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732430464/Me_nhlhpt.png"
      alt="me"
      class="photo unselected relative"
      draggable="false"
    />
  </section>
</article>
