---
import SpotifyPlayer from "./SpotifyPlayer.astro";
import RippleImage from "../RippleImage.astro";
import { tFor } from "../../i18n";
const t = tFor(Astro);
---

<article id="me1" class="article flex relative j_sb">
  <section class="text-content flex_col">
    <section class="top-section flex_col">
      <h1 class="Alumni_I">{t('me.about.heading')}</h1>
      <p class="Poppins-R" set:html={t('me.about.body')}></p>
    </section>
    <SpotifyPlayer />
  </section>
  <section class="image-section unselected">
    <RippleImage
      src="https://res.cloudinary.com/dqgxt985j/image/upload/v1781041786/phantom_me.png"
      alt="me"
      class="photo unselected relative"
    />
  </section>
</article>
