---
---

<article id="me3" class="article flex relative alignI_c">
  <section class="text-content flex_col">
    <section class="top-section flex_col">
      <h1 class="Alumni_I">¿A donde voy?</h1>
      <q class="Poppins-S"
        >Con mi trabajo, sin temor a ello y nada más que eso, destilar
        mi valor y exito profesional sin importar la empresa.</q
      >
      <p class="Poppins-R">
        Personalmente aquel sujeto al cual sueles recurrir, gracias a la
        experiencia y conocimiento en todas las tecnologias y areas de
        su interes, ante un "Gridlock".<br />Alguien a quien puedas
        definir como especialista en el campo capaz de escribir <a
          href="https://es.javascript.info/ninja-code"
          target="_blank"
          rel="noopener noreferrer">Código Ninja</a
        > a su conveniencia.<br />
        Profesionalmente, con una solida carrera, experiencia y conocimientos tecnologicos,<br>el CEO de un, o varios, productos distintivos utiles e impactantes
        en el dia a dia de las sociedades.
      </p>
    </section>
  </section>
  <section class="image-section">
    <img
      src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732247039/sparkles_t2ddaa.gif"
      alt=""
      class="unselected relative"
    />
  </section>
</article>

<style>
  #me3 .top-section {
    padding-top: 0;
  }

  #me3 .photo {
    right: unset;
    transform: unset;
  }

  #me3 q {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  #me3 a {
    text-decoration: underline;
  }

  @media screen and (min-width: 1719px) {
    #me3 p {
      transform: rotateZ(360deg);
    }
  }

  @media screen and (max-width: 1075px) {
    #me3 .image-section {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
</style>
