.dot {
  position: absolute;
  border-radius: 50%;
  z-index: -10;
}

#top-menu {
  flex-grow: 2;
}

#top-menu div {
  flex-grow: 1;
}

#top-menu ul {
  flex-grow: 1;
  list-style: none;
  padding: 0;
}

.techs_container li > * {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
}

.techs_container ul:hover .li_hidden {
  opacity: 0.04;
}

#home1_bot p,
#me1 .top-section p,
#me3 p {
  transform: rotateZ(357deg);
}
