@font-face {
  font-family: "Dela";
  src: url("/fonts/DelaGothicOne-Regular.woff2");
}

.Dela {
  font-family: "Dela";
  font-weight: 100;
}

@font-face {
  font-family: "Poppins-R";
  src: url("/fonts/Poppins-Regular.woff2");
}

.Poppins-R {
  font-family: "Poppins-R";
}

@font-face {
  font-family: "Poppins-S";
  src: url("/fonts/Poppins-SemiBold.woff2");
}

.Poppins-S {
  font-family: "Poppins-S";
}

@font-face {
  font-family: "Alumni";
  src: url("/fonts/AlumniSans-VariableFont_wght.woff2");
}

.Alumni {
  font-family: "Alumni";
}

@font-face {
  font-family: "Alumni Italic";
  src: url("/fonts/AlumniSans-Italic-VariableFont_wght.woff2");
}

.Alumni_I {
  font-family: "Alumni Italic";
}

@font-face {
  font-family: "AudioWide";
  src: url("/fonts/Audiowide-Regular.woff2");
}

.AudioWide {
  font-family: "AudioWide";
}

@font-face {
  font-family: "Ansterdam";
  src: url("/fonts/Amsterdam-four.woff2");
}

.Ansterdam {
  font-family: "Ansterdam";
}
