---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import SideComponent from "../components/SideComponentMain.astro";
import Main from "../components/Home.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Vin">
	<Navbar
		slot="navbar"
		hrefs={{
			// Recomendaciones: "/suggestions",
			"Sobre mí": "/me",
			Proyectos: "https://github.com/KevinJGV?tab=repositories",
			Contacto: "/contact",
		}}
	/>
	<Sidebar slot="sidebar">
		<SideComponent slot="side-component" />
	</Sidebar>
	<Main slot="main"></Main>
	<Footer slot="footer" />
</Layout>