---
import FooterTypewriter from "./footer/FooterTypewriter.astro";
import FooterSocial from "./footer/FooterSocial.astro";
import FooterCredits from "./footer/FooterCredits.astro";

interface Props {
  no_top_foot?: boolean;
}

const { no_top_foot = false } = Astro.props;
---

<footer>
  {!no_top_foot && <FooterTypewriter />}
  <section id="mid_foot" class="flex j_sb Poppins-R">
    <FooterSocial />
    <FooterCredits />
  </section>
</footer>

<style>
  #mid_foot {
    padding: 30px 20px 0;
    border-top: 1px solid var(--border);
  }

  @media screen and (max-width: 600px) {
    #mid_foot {
      flex-direction: column;
    }
  }
</style>
