---

---

<footer>
	<section id="top_foot" class="flex">
		<div>
			<h3>Crece tu xxxx|.</h3>
			<h4>Contactame</h4>
		</div>
		<div>
			<svg
				width="156"
				height="156"
				viewBox="0 0 156 156"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M65.9454 134.911C66.4849 136.437 67.4106 138.788 68.7224 141.964L72.0848 139.585L72.6774 136.034L78.8175 137.058C78.1538 140.226 77.5901 143.199 77.1265 145.977C76.6629 148.755 76.2307 151.75 75.8301 154.961L69.69 153.936L70.8956 146.711C67.3715 149.198 64.8161 151.247 63.2293 152.858L55.2398 151.525L64.2912 145.128C63.4093 143.325 62.411 141.358 61.2962 139.229C60.165 137.097 59.1338 135.227 58.2025 133.618L65.9454 134.911Z"
					fill="white"></path>
				<path
					d="M42.8381 132.144L50.0058 136.023C50.2375 135.315 50.2373 134.632 50.005 133.976C49.7501 133.326 49.1976 132.771 48.3474 132.311C47.7318 131.978 47.0894 131.782 46.4201 131.723C45.7429 131.679 45.1241 131.789 44.5636 132.055C43.8433 131.039 42.8204 129.813 41.4948 128.375C42.5045 127.595 43.7768 127.223 45.312 127.258C46.8245 127.299 48.5408 127.839 50.461 128.879C52.9529 130.227 54.4904 131.798 55.0736 133.592C55.6342 135.393 55.4069 137.231 54.3915 139.107C53.4 140.939 52.0012 142.106 50.1951 142.607C48.3891 143.107 46.2329 142.68 43.7264 141.323C42.2313 140.514 41.0689 139.563 40.2392 138.47C39.4096 137.376 38.9436 136.224 38.8411 135.012C38.7308 133.816 38.9849 132.646 39.6037 131.502C39.8099 131.121 39.9793 130.843 40.1117 130.669L42.8381 132.144ZM45.2152 137.837C45.9481 138.233 46.6245 138.419 47.2442 138.394C47.864 138.37 48.4001 138.167 48.8524 137.787L43.6635 134.979C43.5855 135.543 43.6691 136.071 43.9141 136.564C44.1513 137.071 44.585 137.495 45.2152 137.837Z"
					fill="white"></path>
				<path
					d="M19.0573 119.924C23.8447 117.964 28.2759 116.059 32.3509 114.211L37.6506 119.968C35.319 124.153 33.0607 128.418 30.8759 132.762L26.8968 128.44L32.5107 119.33L22.9855 124.191L19.0573 119.924Z"
					fill="white"></path>
				<path
					d="M10.7404 107.046C11.1622 108.008 11.2403 108.829 10.9747 109.51C10.7024 110.175 10.1846 110.675 9.42149 111.01C8.67361 111.338 7.95504 111.38 7.26578 111.137C6.56983 110.878 6.01096 110.267 5.58918 109.306C5.18748 108.39 5.13135 107.578 5.42079 106.868C5.69497 106.166 6.19836 105.654 6.93098 105.332C7.69413 104.997 8.41604 104.963 9.09674 105.229C9.77743 105.494 10.3253 106.1 10.7404 107.046ZM25.7564 103.626C23.2522 104.598 21.1988 105.435 19.5962 106.137C17.6883 106.974 15.5783 107.973 13.2661 109.133L10.856 103.638C13.1837 102.762 15.3473 101.886 17.3467 101.009C19.0256 100.273 21.0322 99.3289 23.3663 98.1776L25.7564 103.626Z"
					fill="white"></path>
				<path
					d="M19.8082 80.2935C17.3583 80.3962 15.1035 80.5329 13.0439 80.7035C12.3131 80.7641 11.7469 80.995 11.3453 81.3962C10.9424 81.7807 10.7636 82.2471 10.809 82.7952C10.8544 83.3433 11.1421 83.7878 11.6721 84.1285C12.1854 84.4706 12.8684 84.6398 13.721 84.636C14.9861 84.5647 15.8844 84.507 16.4159 84.4629C17.5453 84.3693 18.78 84.2336 20.1199 84.0556L20.6133 90.0102C18.2105 90.0755 15.9461 90.1963 13.82 90.3725C11.694 90.5486 9.42395 90.8036 7.00994 91.1374C6.96893 90.0371 6.92434 89.1962 6.87617 88.6149C6.82524 88.0003 6.73083 87.1636 6.59291 86.1047L10.1955 85.0787C8.83505 84.8068 7.80553 84.29 7.10692 83.5284C6.3917 82.7682 5.98936 81.8483 5.8999 80.7687C5.81732 79.7721 5.96998 78.8898 6.35789 78.1218C6.72918 77.3552 7.27341 76.7582 7.99057 76.3309C8.70635 75.8869 9.52932 75.6264 10.4595 75.5493L14.0472 75.2521C16.2563 75.069 18.0218 74.8809 19.3437 74.6877L19.8082 80.2935Z"
					fill="white"></path>
				<path
					d="M25.7198 43.6033C25.3187 44.2172 24.796 44.682 24.1518 44.9977C23.5075 45.3135 22.827 45.4561 22.1102 45.4258C21.3886 45.3724 20.7208 45.1452 20.1069 44.7441C19.5069 44.3521 19.0445 43.841 18.7197 43.2107C18.404 42.5664 18.2613 41.8859 18.2916 41.1691C18.3219 40.4523 18.5376 39.7869 18.9387 39.173C19.3307 38.5731 19.8488 38.1152 20.4931 37.7995C21.1373 37.4838 21.8178 37.3411 22.5346 37.3714C23.2514 37.4018 23.9098 37.6129 24.5098 38.0049C25.1237 38.406 25.5955 38.9332 25.9252 39.5866C26.2409 40.2308 26.3835 40.9114 26.3532 41.6282C26.3229 42.345 26.1118 43.0033 25.7198 43.6033Z"
					fill="white"></path>
				<path
					d="M49.691 13.7442L59.7876 10.2781L63.1482 20.0673L58.9866 21.4959L57.0533 17.4812C57.0945 19.1411 56.6326 20.5419 55.6678 21.6837C54.7029 22.8256 53.3456 23.6968 51.5958 24.2975C50.0037 24.8441 48.4632 24.9765 46.9744 24.6946C45.5013 24.4074 44.1828 23.7234 43.0188 22.6428C41.8706 21.5568 40.9935 20.131 40.3874 18.3655C39.4187 15.5438 39.4963 13.0237 40.6202 10.8053C41.7441 8.58679 44.0873 6.86604 47.6499 5.64301C49.6834 4.9449 51.5862 4.66172 53.3584 4.79345C55.1463 4.91976 56.8222 5.48982 58.3861 6.50361C57.8012 7.1097 56.6629 8.31105 54.9713 10.1077L54.4938 10.6416C53.668 10.2379 52.7938 10.027 51.8712 10.0089C50.9433 9.97504 50.0222 10.115 49.1079 10.4289C47.5946 10.9484 46.6055 11.7373 46.1406 12.7956C45.6703 13.8382 45.6354 14.9427 46.0358 16.1092C46.4688 17.3703 47.2119 18.2517 48.2652 18.7536C49.3344 19.25 50.6886 19.2168 52.328 18.654C53.0374 18.4105 53.688 18.0726 54.2797 17.6404C54.8872 17.2028 55.3329 16.6533 55.6169 15.9919L51.006 17.5748L49.691 13.7442Z"
					fill="white"></path>
				<path
					d="M78.254 19.7791C75.404 19.7791 73.304 19.1291 71.954 17.8291C70.6206 16.5124 69.954 14.7874 69.954 12.6541C69.954 10.5707 70.6206 8.87905 71.954 7.57905C73.304 6.27905 75.404 5.62905 78.254 5.62905C80.1706 5.62905 81.7706 5.94572 83.054 6.57905C84.354 7.19572 85.3123 8.03739 85.929 9.10405C86.5456 10.1541 86.854 11.3374 86.854 12.6541C86.854 14.8041 86.1373 16.5291 84.704 17.8291C83.2873 19.1291 81.1373 19.7791 78.254 19.7791ZM78.354 15.5291C79.4373 15.5291 80.2456 15.2707 80.779 14.7541C81.3123 14.2374 81.579 13.5457 81.579 12.6791C81.579 11.8624 81.3123 11.1957 80.779 10.6791C80.2456 10.1457 79.4373 9.87905 78.354 9.87905C77.2706 9.87905 76.479 10.1374 75.979 10.6541C75.479 11.1707 75.229 11.8457 75.229 12.6791C75.229 13.5457 75.479 14.2374 75.979 14.7541C76.479 15.2707 77.2706 15.5291 78.354 15.5291Z"
					fill="white"></path>
				<path
					d="M99.2695 23.4548C100.16 21.17 100.94 19.0503 101.611 17.0956C101.849 16.402 101.865 15.7907 101.659 15.2618C101.469 14.7383 101.114 14.3873 100.593 14.2087C100.073 14.0301 99.5506 14.115 99.0257 14.4635C98.5062 14.7961 98.0769 15.3536 97.7379 16.1359C97.2951 17.3231 96.9871 18.169 96.8139 18.6734C96.4459 19.7453 96.0743 20.9305 95.699 22.229L90.0477 20.289C90.9531 18.0623 91.7522 15.9401 92.4449 13.9223C93.1375 11.9046 93.8159 9.72333 94.4799 7.37854C95.504 7.783 96.292 8.07994 96.8437 8.26935C97.427 8.46958 98.2312 8.71922 99.2563 9.01828L98.7487 12.7296C99.5442 11.5929 100.431 10.8577 101.409 10.5239C102.393 10.1742 103.397 10.1753 104.421 10.5271C105.367 10.8518 106.114 11.346 106.661 12.0097C107.214 12.6577 107.542 13.3959 107.645 14.2243C107.764 15.0581 107.672 15.9164 107.369 16.7992L106.2 20.2041C105.481 22.3007 104.944 23.9931 104.59 25.2812L99.2695 23.4548Z"
					fill="white"></path>
				<path
					d="M116.449 28.4721C117.548 29.2852 118.651 30.0801 119.757 30.8567C121.113 31.8277 122.105 32.5473 122.734 33.0153C122.086 33.6304 121.117 34.7666 119.827 36.4238L108.444 27.5638L111.024 24.2494C111.835 24.3739 112.748 24.462 113.764 24.5135C114.78 24.565 116.099 24.6203 117.722 24.6793C118.602 24.6884 119.323 24.7113 119.886 24.748C118.981 24.065 117.736 23.1693 116.149 22.0607C115.069 21.3046 114.333 20.7847 113.941 20.501C115.292 18.7649 116.215 17.4979 116.71 16.6999L128.211 25.6521L125.632 28.9664C124.396 28.871 122.926 28.793 121.22 28.7325C118.748 28.6249 117.158 28.5381 116.449 28.4721Z"
					fill="white"></path>
				<path
					d="M134.798 50.4224C134.324 50.7324 134.025 51.007 133.903 51.2462C133.781 51.4855 133.787 51.7999 133.922 52.1894L131.9 53.391C131.539 52.9901 131.234 52.6314 130.988 52.3147C130.75 52.012 130.454 51.5886 130.098 51.0445C129.314 49.8445 129.06 48.876 129.335 48.1389C129.624 47.3927 130.187 46.7462 131.024 46.1992L131.547 45.8574C130.138 46.2002 128.9 46.1633 127.831 45.7466C126.772 45.3438 125.85 44.5425 125.066 43.3425C124.155 41.9472 123.745 40.7115 123.839 39.6353C123.941 38.573 124.543 37.6818 125.646 36.9616C126.552 36.3691 127.46 36.2042 128.368 36.4669C129.277 36.7296 130.238 37.425 131.254 38.5531C131.315 37.0004 131.278 35.5116 131.143 34.0865C132.751 34.2309 134.177 34.6625 135.423 35.3814C136.683 36.0911 137.815 37.2134 138.817 38.7482C140.221 40.8969 140.793 42.7929 140.533 44.4361C140.296 46.0843 139.214 47.5373 137.289 48.7953L134.798 50.4224ZM135.421 41.5942C134.956 40.8827 134.427 40.3323 133.835 39.9431C133.242 39.5539 132.567 39.298 131.81 39.1754C132.455 39.9487 133.187 40.9633 134.008 42.2191C134.345 42.7353 134.645 43.0571 134.907 43.1843C135.169 43.3116 135.398 43.3114 135.594 43.1837C135.761 43.0744 135.832 42.8786 135.807 42.5963C135.796 42.305 135.667 41.971 135.421 41.5942ZM129.339 42.4322C129.85 43.2136 130.456 43.8225 131.16 44.2589C131.877 44.6863 132.557 44.859 133.2 44.7772L133.745 44.4216C133.358 44.1962 132.984 43.913 132.622 43.5722C132.274 43.2223 131.871 42.7886 131.414 42.2712L130.796 41.5998C130.132 40.9187 129.612 40.7013 129.235 40.9474C128.83 41.2118 128.865 41.7067 129.339 42.4322Z"
					fill="white"></path>
				<path
					d="M145.035 63.8949C144.062 64.1242 142.573 64.4926 140.57 64.9999C138.162 65.6095 136.421 66.0675 135.347 66.374L133.899 60.6545L136.644 59.9853C139.657 59.2566 141.979 58.6856 143.611 58.2724C145.162 57.8796 147.355 57.307 150.191 56.5546L152.802 55.8676L154.25 61.587C151.948 62.1357 150.07 62.5941 148.616 62.9624C147 63.3715 145.806 63.6823 145.035 63.8949Z"
					fill="white"></path>
				<path
					d="M142.011 88.3118L142.684 80.1896C141.942 80.262 141.317 80.5363 140.81 81.0127C140.317 81.507 140.031 82.2359 139.951 83.1992C139.893 83.8968 139.972 84.5639 140.187 85.2005C140.418 85.8385 140.768 86.3608 141.236 86.7675C140.596 87.8349 139.883 89.2644 139.1 91.0557C137.979 90.4445 137.127 89.429 136.542 88.0092C135.973 86.6073 135.778 84.8185 135.959 82.6426C136.193 79.819 137.014 77.7798 138.422 76.5252C139.846 75.2885 141.621 74.7583 143.747 74.9344C145.823 75.1065 147.453 75.9189 148.637 77.3716C149.821 78.8243 150.296 80.9709 150.06 83.8111C149.92 85.5053 149.516 86.9519 148.848 88.1508C148.18 89.3497 147.312 90.2394 146.243 90.8199C145.192 91.4017 144.018 91.6389 142.723 91.5316C142.291 91.4958 141.968 91.4523 141.755 91.4012L142.011 88.3118ZM146.269 83.8482C146.338 83.0177 146.237 82.3236 145.965 81.766C145.694 81.2083 145.293 80.7988 144.762 80.5375L144.275 86.4173C144.823 86.262 145.274 85.9732 145.626 85.5509C145.996 85.13 146.21 84.5624 146.269 83.8482Z"
					fill="white"></path>
				<path
					d="M135.368 102.884C134.849 104.149 134.349 105.413 133.868 106.676C133.26 108.229 132.806 109.368 132.506 110.092C131.751 109.615 130.412 108.955 128.489 108.111L134.283 94.9009L138.129 96.588C138.208 97.405 138.347 98.3122 138.546 99.3097C138.746 100.307 139.016 101.6 139.357 103.187C139.564 104.042 139.719 104.747 139.822 105.302C140.262 104.257 140.824 102.83 141.509 101.019C141.977 99.7863 142.3 98.9454 142.479 98.4961C144.494 99.3798 145.949 99.9634 146.844 100.247L140.989 113.594L137.143 111.907C136.932 110.686 136.647 109.242 136.287 107.573C135.784 105.15 135.478 103.587 135.368 102.884Z"
					fill="white"></path>
				<path
					d="M107.888 132.867C108.533 132.518 109.214 132.358 109.93 132.387C110.647 132.416 111.314 132.615 111.93 132.982C112.539 133.373 113.018 133.891 113.367 134.536C113.708 135.166 113.872 135.835 113.857 136.544C113.828 137.261 113.63 137.928 113.262 138.544C112.894 139.16 112.388 139.642 111.743 139.991C111.113 140.332 110.439 140.488 109.722 140.459C109.005 140.43 108.339 140.232 107.723 139.864C107.107 139.496 106.628 138.997 106.287 138.367C105.938 137.722 105.774 137.034 105.795 136.302C105.824 135.585 106.023 134.919 106.391 134.303C106.758 133.687 107.257 133.208 107.888 132.867Z"
					fill="white"></path>
			</svg>
		</div>
	</section>
	<section id="bot_foot" class="flex j_sb Poppins-R">
		<div>
			<p>Más sobre mí</p>
			<div id="social_media" class="flex">
				<a
					href="https://github.com/KevinJGV"
					target="_blank"
					rel="noopener noreferrer">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="3em"
						height="3em"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"
						></path></svg
					>
				</a>
				<a
					href="https://discordapp.com/users/356763345283710986"
					target="_blank"
					rel="noopener noreferrer">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="3em"
						height="3em"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.1.1 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.1 16.1 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02M8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12m6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12"
						></path></svg
					>
				</a>
				<a
					href="https://www.linkedin.com/in/vin-dev/"
					target="_blank"
					rel="noopener noreferrer">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="3em"
						height="3em"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
						></path></svg
					>
				</a>
			</div>
		</div>
		<p>©2024 VIN-DEV</p>
	</section>
</footer>
<style>
	#social_media > * {
		margin: 10px;
	}

	#top_foot svg {
		border-radius: 200px;
		animation-name: wheel;
		animation-duration: 5s;
		animation-delay: 2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	#top_foot svg:hover {
		animation-play-state: paused;
	}

	#bot_foot {
		padding: 30px 20px;
	}

	#bot_foot div:first-child p {
		margin: 5px 5px 5px 10px;
	}

	#bot_foot p:last-child {
		align-self: flex-end;
		margin-right: 30px;
	}

	@keyframes wheel {
		0% {
			transform: rotate(0deg);
		}

		50% {
			transform: rotate(180deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
</style>
