---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---
<footer>
	<section>
		<div>
			<h3>Crece tu xxxx|.</h3>
			<h4>Contactame</h4>
		</div>
		<div>
			<img src="" alt="" srcset="">
		</div>
	</section>
	<section>
		<div>
			<img src="" alt="" srcset=""><img src="" alt="" srcset=""><img src="" alt="" srcset="">
		</div>
		<p>©2023 VIN-DEV</p>
	</section>
</footer>

<style>

</style>
