---
import TextHighlighted from "./Highlighter.astro";
import Card from "./Card.astro";
import Anchor from "./Anchor.astro";
import Hexagon from "./Hexagon.astro";

const s = "120px", r = 1, mv = "5px"
---

<article id="home1" class="home_article flex relative">
    <section id="home1_text" class="flex_col j_se">
        <div id="home1_top" class="flex_col j_c">
            <span class="Dela">Hola, </span>
            <h1 class="Dela">Soy Kevin</h1>
            <i
                ><TextHighlighted
                    text="Fullstack Software Developer"
                    el="span"
                    font_size="2rem"
                    bg_Color="#6c8c65"
                />
                <span class="Poppins-R">&</span>
                <TextHighlighted
                    text="Empanada Lover"
                    el="span"
                    font_size="2rem"
                    bg_Color="#6c8c65"
                /></i
            >
            <p class="Poppins-S">
                Activo Desde SEP ‘23<br /><a href="src/pages/contact.astro"
                    >HABLEMOS</a
                >
            </p>
        </div>
        <div id="home1_bot" class="Poppins-R">
            <p>
                Disciplina en el back-end, pasión por el front-end.
                <br />
                Amo la lógica y la creatividad de la programación.
                <br />
                ¿Por qué?
                <br />
                Porque me siento como un dios creando cosas, definiendo sus atributos
                y comportamientos.
                <br />
                Ambición por comprender los sistemas informáticos y crear experiencias
                de usuario impresionantes.
                <br />
                Cuando no estoy aprendiendo sobre nuevas tecnologías, probablemente
                estoy pensando en el futuro o siendo el consejero de mis amigos.
            </p>
        </div>
    </section>
    <section id="home1_img" class="sticky">
        <img
            id="photo"
            src="https://res.cloudinary.com/dqgxt985j/image/upload/v1731282091/photo_xmglr7.png"
            alt="Kevin"
            srcset=""
            class="unselected relative"
            draggable="false"
        />
    </section>
</article>
<article id="home2" class="home_article flex_col">
    <section id="projects">
        <h2 class="Dela"><span class="hidden_text">Short</span> PREVIEW</h2>
        <div class="flex">
            <Card
                text="Domi"
                href="https://kevinjgv.github.io/Work-Project_DOMI/"
                cover="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1731379909/Domi_lmwy6d.svg"
                bgColor="#F3B10F"
                txtColor="#092334"
                hrefImages={[
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731358579/Domi_index_hg32o3.png",
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731358579/Domi_shop_snjaez.png",
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731358579/Domi_cart_ezbmjb.png"
                ]}
                tags={{
                    template: "e-commerce",
                    template2: "technology",
                    template3: "frontend",
                    template4: "uiux",
                }}
            />
            <Card
                text="SWAPI - Consumed API"
                cover="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1731379907/Swapi_popgza.png"
                bgColor="#42000b"
                txtColor="#FFE300"
                href="https://kevinjgv.github.io/SWAPIMPIRE_OF_JEDIS_CONSUMED-API/"
                hrefImages={[
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731914352/swapi1_dgz5ml.png",
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731914349/swapi2_v6zavr.png",
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731914348/swapi3_czp65u.png"
                ]}
                tags={{
                    template: "entertainment",
                    template1: "api",
                    template2: "frontend",
                    template3: "uiux",
                }}
            />
            <Card
                text="My Progress Eye"
                cover="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1731379911/progress_eye_wsybqv.png"
                bgColor="#F9FAFB"
                txtColor="#000"
                href="https://kevinjgv.github.io/My_Progress_Eye/index.html"
                hrefImages={[
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731915005/prog1_bwchsj.png",
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731915003/prog2_tvttbo.png",
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731915000/prog3_yoa58g.png",
                    "https://res.cloudinary.com/dqgxt985j/image/upload/v1731914999/prog4_rredwu.png"
                ]}
                tags={{
                    template: "manager",
                    template1: "entertainment",
                    template2: "frontend",
                    template3: "api",
                    template4: "dashboard",
                    template5: "uiux",
                }}
            />
            <Card
                text="Farm Database"
                cover='<svg xmlns="http://www.w3.org/2000/svg" width="0.88em" height="1em" viewBox="0 0 448 512"><path fill="currentColor" d="M448 73.143v45.714C448 159.143 347.667 192 224 192S0 159.143 0 118.857V73.143C0 32.857 100.333 0 224 0s224 32.857 224 73.143M448 176v102.857C448 319.143 347.667 352 224 352S0 319.143 0 278.857V176c48.125 33.143 136.208 48.572 224 48.572S399.874 209.143 448 176m0 160v102.857C448 479.143 347.667 512 224 512S0 479.143 0 438.857V336c48.125 33.143 136.208 48.572 224 48.572S399.874 369.143 448 336"/></svg>'
                href="https://github.com/KevinJGV/Finca_El_Primer_Mundo_MYSQL"
                bgColor="#353535"
                tags={{
                    template: "modeling",
                    template1: "business",
                    template2: "leadership",
                    template3: "mysql",
                    template4: "db",
                }}
            />
        </div>
        <blockquote class="text_center">
            <Anchor
                href="https://github.com/KevinJGV?tab=repositories"
                text="Más "
                font_size="7rem"
                bgHeight="7.5rem"
                _blank={true}
                svgh={76}
                svgw={75}
                svg={true}
            />
        </blockquote>
    </section>
<section id="techs">
    <h2 class="Dela">
        <span class="hidden_text">Main</span> TECHS | TOOLS
    </h2>
    <div class="techs_container grid unselected">
        <ul>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732069030/free-java-59-1174952_rcoapt.webp" title="Java" />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732071507/1200px-Typescript_logo_2020.svg_umjkft.png" title="TypeScript"/>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732070256/gratis-png-jira-atlassian-software-de-computadora-confluencia-desarrollo-de-software-jira_ijbp0y.png" title="Jira"/>
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732069645/git_plain_wordmark_logo_icon_146508_lxcqzm.png" title="git"/>
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732070653/340px-CSS3_logo_and_wordmark.svg_elok7l.png"title="CSS"/>
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732068544/1711525883305_prjgih.png" title="Python"/>
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732070853/image_rnyojd.png" title="MarkDown"/>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732071297/Notion_app_logo_f6uixh.png" title="Notion"/>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732069390/1656604745399_m4wyx5.png" title="Spring Boot"/>
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732071011/pngwing.com_bpat9e.png" title="PostgreSQL"/>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732071136/postman-logo-0087CA0D15-seeklogo.com_dajchv.png" title="Postman"/>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732068739/JavaScript-logo_mpgu9l.png" title="Javascript"/>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732071705/1_nLbfO_PdTSpeCdZQuUr8RQ_wvcppy.png" title="Astro Framework"/>
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732069752/Figma-logo_jsyern.svg" title="Figma"/>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732071224/insomnia-logo-A35E09EB19-seeklogo.com_jujkam.png"title="Insomnia"/>
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732069295/mysql_PNG23_rlknax.png" title="MySQL"/>
            <Hexagon />
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732070581/HTML5_logo_and_wordmark_njrary.png"title="HTML"/>
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/t_Thumbnail/v1732071368/sonarlint-icon-logo-0161BCE8AD-seeklogo.com_l2ardn.png" title="SonarLint"/>
            <Hexagon />
            <Hexagon />
            <Hexagon src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732071874/1200px-Tux.svg_xjz7da.png" title="Linux"/>
        </ul>
    </div>
</section>
<blockquote class="text_center">
    <Anchor
        href="src/pages/me.astro"
        text="Sobre mí "
        font_size="7rem"
        bgHeight="7.5rem"
        svgh={76}
        svgw={75}
        svg={true}
    />
</blockquote>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        document
            .querySelector(".techs_container ul")
            .addEventListener("pointermove", (ev) => {
                const target = ev.target.closest("li");
                if (target) {
                    const rect = target.getBoundingClientRect();
                    target.style.setProperty("--x", ev.clientX - rect.left);
                    target.style.setProperty("--y", ev.clientY - rect.top);
                }
            });
    });
</script>

<style define:vars={{s,r,mv}}>
    #home1 {
        gap: 20rem;
    }

    #home1_text {
        gap: 200px;
    }

    #home1_top {
        height: 100vh;
        padding-top: 200px;
    }

    #home1_top span {
        font-size: 5rem;
        line-height: 0.9;
    }

    #home1_top h1 {
        font-size: 7rem;
        margin: 0;
    }

    #home1_top i {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    #home1_top i span {
        font-size: 3rem;
    }

    #home1_top a {
        text-decoration: underline;
    }

    #home1_img {
        top: 150px;
        width: 0;
        height: fit-content;
    }
    #home1_bot p {
        font-size: 1.5rem;
    }

    #photo {
        left: -190px;
        width: 450px;
        transform: rotate(3deg);
    }

    .hidden_text {
        opacity: 0;
    }

    h2:hover .hidden_text {
        opacity: 0.5;
    }

    #projects > div {
        flex-grow: 1;
        height: 254px;
        border-radius: 4px;
        display: flex;
        gap: 5px;
        padding: 0.4em;
    }

    #home2 h2 {
        margin-block: 4rem;
    }

    #home2 #projects blockquote {
        margin-block: 4rem;
        padding-top: calc(var(--s) * var(--r) + var(--mv));
    }

    #home2 {
        gap: 1rem;
    }

    .techs_container {
        --s: var(--s);
        --r: var(--r);
        --h: 0.5;
        --v: 0.29;
        --hc: calc(clamp(0, var(--h), 0.5) * var(--s));
        --vc: calc(clamp(0, var(--v), 0.5) * var(--s) * var(--r));
        --mv: var(--mv);
        --mh: calc(var(--mv) + (var(--s) - 2 * var(--hc)) / 2);
        --f: calc(
            2 * var(--s) * var(--r) + 4 * var(--mv) - 2 * var(--vc) - 2px
        );
    }

    .techs_container ul {
        font-size: 0;
        padding-bottom: calc(var(--s) * var(--r) + var(--mv));
    }

    .techs_container ul::before {
        content: "";
        width: calc(var(--s) / 2 + var(--mh));
        float: left;
        height: 140%;
        shape-outside: repeating-linear-gradient(
            #0000 0 calc(var(--f) - 2px),
            #000 0 var(--f)
        );
    }

    
</style>
