---

---
<main>
    <article class="Dela flex relative">
        <h1><span>Hola, </span>Soy Kevin</h1>
        <img id="photo" src="/photo.png" alt="photo" srcset="" class="absolute unselected" draggable="false">
    </article>
</main>

<style>
    h1 {
        font-weight: 100;
        font-size: 5rem;
    }

    #photo {
        width: 450px;
        top: -70px;
        right: -250px;
        transform: rotate(3deg);
    }
</style>