---

---

<article id="me1" class="flex relative j_sb">
    <section id="me1_text" class="flex_col">
        <section id="me1_top" class="flex_col">
            <h1 class="Alumni_I">¿Sobre mí?</h1>
            <p class="Poppins-R">
                Mi nombre completo es Kevin Johan González Velandia.<br />
                Soy un desarrollador y diseñador de software Colombiano, Full-Stack.<br
                />
                Doy forma a las marcas digitalmente, fascinado por la intersección de
                la creatividad y la lógica.<br />
                A pesar de la apariencia de mi webpage, soy un amante de la simplicidad,
                el minimalismo y la complejidad de las relaciones interpersonales.<br />
                Soy consciente de la importancia de los aspectos técnicos y creativos,<br
                />
                siempre en busca de la mejora personal.<br />
                Me encanta colaborar en grandes proyectos con gente talentosa e interesante.<br
                />
                ¿Necesitas una mano? Yo tengo dos.
            </p>
        </section>
        <section id="me1_bot" class="Poppins-R flex relative s_b">
            <div id="player" class="relative grid all_c">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                >
                    <rect
                        class="eq-bar eq-bar--1"
                        x="4"
                        y="4"
                        width="3.7"
                        height="8"></rect>
                    <rect
                        class="eq-bar eq-bar--2"
                        x="10.2"
                        y="4"
                        width="3.7"
                        height="16"></rect>
                    <rect
                        class="eq-bar eq-bar--3"
                        x="16.3"
                        y="4"
                        width="3.7"
                        height="11"></rect>
                </svg>
                <p>Escuchando ahora:</p>
                <div class="carrousel">
                    <p class="textoscroll">00:00 - Siddharta</p>
                </div>
            </div>
            <label for="player"
                ><a
                    href="https://open.spotify.com/user/22xnxi2j2d3vra2qhozf3bzsa?si=08945a9049494095"
                    >Via Spotify</a
                ></label
            >
        </section>
    </section>
    <section id="me1_img" >
        <img
            id="photo"
            src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732158457/Me_nhlhpt.png"
            alt="me"
            srcset=""
            class="unselected relative"
        />
    </section>
</article>

<style>
    #me1_text {
        gap: 80px;
    }

    #me1_top {
        padding-top: 150px;
    }

    #me1_top h1 {
        font-size: clamp(3rem, 1.0774rem + 3.7936vw, 5rem);
        font-weight: 300;
        margin-block: 1em;
    }

    #me1_top p {
        margin: 0;
        font-size: clamp(1rem,0.0774rem + 1.7936vw,1.2rem);
    }

    #photo {
        right: -65px;
        width: 600px;
        transform: rotate(3deg);
    }

    #me1_bot {
        width: 450px;
        margin-block: 2rem;
        align-self: end;
    }

    #me1_bot > div {
        grid-template-columns: auto auto 2fr;
        border: var(--green) solid 1px;
        border-radius: 8px;
    }

    #me1_bot * {
        text-wrap: none !important;
        white-space: nowrap;
    }

    #me1_bot > div p {
        color: var(--green);
        margin: 5px;
    }

    #me1_bot svg {
        margin: 3px;
    }

    .carrousel {
        width: 155px;
        overflow: hidden;
    }

    .textoscroll {
        display: inline-block;
        padding-left: 100%;
        animation: scroll 5s linear infinite;
        animation-delay: 1s;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    #me1_bot label {
        text-align: center;
        margin: 10px;
        color: #666666;
    }

    #me1_bot a {
        color: #939393;
    }

    #me1_bot label::before {
        content: url("https://res.cloudinary.com/dqgxt985j/image/upload/v1732161021/spotify-white_wwxzoe.webp");
        margin-right: 5px;
    }
    .eq-bar {
        fill: #1ed760;
        transform: scale(1, -1) translate(0, -24px);
    }

    .eq-bar--1 {
        animation-name: short-eq;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
    }

    .eq-bar--1 {
        animation-name: short-eq;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
    }

    .eq-bar--2 {
        animation-name: tall-eq;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0.17s;
    }

    .eq-bar--3 {
        animation-name: short-eq;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0.34s;
    }

    @keyframes short-eq {
        0% {
            height: 8px;
        }

        50% {
            height: 4px;
        }

        100% {
            height: 8px;
        }
    }

    @keyframes tall-eq {
        0% {
            height: 16px;
        }

        50% {
            height: 6px;
        }

        100% {
            height: 16px;
        }
    }

    .seccion2 p {
        font-size: clamp(1rem, 1.0774rem + 3.7936vw, 1.5rem);
    }

    .bgtools {
        background-color: #8a8a8a21;
        backdrop-filter: blur(0.5rem);
        padding-block: 10px;
        border: #66666636 solid 1px;
        border-radius: 8px;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(20, auto);
        grid-template-rows: auto auto;
        justify-content: space-evenly;
        gap: 10px;
        padding: 1rem;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-track-color: #1ed760;
    }

    .tool {
        background-color: #8a8a8a21;
        backdrop-filter: blur(0.5rem);
        padding-block: 10px;
        border: #66666636 solid 1px;
        border-radius: 8px;
        padding: 2rem;
    }

    .tool1 {
        visibility: hidden;
        margin-left: 420px;
    }

    .tool img {
        width: 100%;
    }

    /* @media (min-width: 719px) and (max-width: 920px) {
    }

    @media screen and (max-width: 1200px) {
        .seccion1 {
            height: fit-content;
            display: block;
            font-size: clamp(1rem, 1.0774rem + 3.7936vw, 1.5rem);
            margin-top: 200px;
        }

        .avatar {
            display: block;
            text-align: center;
            border-radius: 200%;
            margin: 5%;
        }

        .avatar img {
            width: clamp(50%, 1.0774rem + 3.7936vw, 85%);
            border-radius: 200%;
            filter: drop-shadow(0 0 20px gray);
        }
    }

    @media screen and (min-width: 1200px) {
        .seccion1 {
            height: fit-content;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto auto;
            font-size: clamp(1rem, 1.0774rem + 3.7936vw, 1.5rem);
            margin-top: 200px;
        }

        .avatar {
            grid-area: 2/2/3/3;
            justify-self: right;
            right: -200px;
            width: clamp(500px, 1.0774rem + 3.7936vw, 900px);
            border-radius: 200%;
        }

        .avatar img {
            width: 100%;
            border-radius: 200%;
            filter: drop-shadow(0 0 20px gray);
        }
    }

    @media (min-width: 1044px) and (max-width: 2586px) {
    } */
</style>
