---

---

<article id="me1" class="article flex relative j_sb">
    <section class="text-content flex_col">
        <section class="top-section flex_col">
            <h1 class="Alumni_I">¿Sobre mí?</h1>
            <p class="Poppins-R">
                Mi nombre completo es Kevin Johan González Velandia.<br />
                Soy un desarrollador y diseñador de software Colombiano, Full-Stack,<br
                />
                con la ambición de especializarme en la ciberseguridad y lanzar un
                producto con potencial tecnologico.<br />
                Doy forma a las marcas digitalmente, fascinado por la intersección
                de la creatividad y la lógica.<br />
                A pesar de la apariencia de mi webpage, soy un amante de la simplicidad,
                el minimalismo y la complejidad de las relaciones interpersonales.<br
                />
                Soy consciente de la importancia de los aspectos técnicos y creativos,<br
                />
                siempre en busca de la mejora personal.<br />
                Me encanta colaborar en grandes proyectos con gente talentosa e interesante.<br
                />
                ¿Necesitas una mano? Yo tengo dos.
            </p>
        </section>
        <section class="bottom-section Poppins-R flex relative s_b">
            <div class="player relative grid all_c">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                >
                    <rect
                        class="eq-bar eq-bar--1"
                        x="4"
                        y="4"
                        width="3.7"
                        height="8"></rect>
                    <rect
                        class="eq-bar eq-bar--2"
                        x="10.2"
                        y="4"
                        width="3.7"
                        height="16"></rect>
                    <rect
                        class="eq-bar eq-bar--3"
                        x="16.3"
                        y="4"
                        width="3.7"
                        height="11"></rect>
                </svg>
                <p>Escuchando ahora:</p>
                <div class="carrousel">
                    <p class="textoscroll">00:00 - Siddharta</p>
                </div>
            </div>
            <label for="player">
                <a
                    href="https://open.spotify.com/user/22xnxi2j2d3vra2qhozf3bzsa?si=08945a9049494095"
                    target="_blank">Via Spotify</a
                >
            </label>
        </section>
    </section>
    <section class="image-section unselected">
        <img
            src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732430464/Me_nhlhpt.png"
            alt="me"
            class="photo unselected relative"
            draggable="false"
        />
    </section>
</article>
<article id="me2" class="article flex relative alignI_c">
    <section class="text-content flex_col">
        <section class="top-section flex_col">
            <h1 class="Alumni_I">¿Qué hago?</h1>
            <p class="Poppins-R">
                Dame un teclado, un raton, tiempo, lo que necesitas y musica
                clasica sin anuncios para desarrollarlo priorizando la
                optimización de procesos, sumando en estos mis valores
                distintivos de colaboración, comunicación honesta, dedicación e
                iniciativa, ahorrando tiempo buscando metodos / tecnologias ya
                existentes, funcionales y confiables que se adapten a las
                necesidades.<br />Despues de todo no siempre hace falta
                reinvetar las ruedas para tener más valor agregado<br />¡Es más
                barato optimizarlas!
            </p>
        </section>
    </section>
    <section class="image-section">
        <svg
            width="40px"
            height="35px"
            viewBox="0 0 708 767"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill="#fff"
                opacity="1.00"
                d=" M 137.12 42.94 C 142.35 41.99 147.70 42.10 152.99 41.92 C 290.99 42.09 429.00 41.96 567.00 42.00 C 567.00 56.33 566.99 70.67 567.00 85.00 C 581.33 85.00 595.66 85.00 610.00 85.00 C 609.99 99.33 610.00 113.67 610.00 128.00 C 624.33 128.00 638.66 128.00 653.00 128.00 C 653.00 199.67 652.99 271.33 653.00 343.00 C 638.66 343.00 624.33 343.00 610.00 343.00 C 610.00 357.33 610.00 371.67 610.00 386.01 C 595.98 386.09 581.95 385.52 567.94 386.12 C 566.11 400.32 567.12 414.72 567.01 429.00 C 524.01 428.99 481.00 429.01 438.00 429.00 C 438.01 457.66 437.98 486.33 438.00 515.00 C 366.34 514.70 294.65 515.58 223.00 514.58 C 223.19 472.03 222.69 429.47 223.12 386.94 C 237.33 385.10 251.72 386.12 266.02 386.01 C 266.09 371.99 265.52 357.95 266.12 343.94 C 280.53 342.10 295.12 343.11 309.61 343.03 C 308.87 328.90 308.95 314.76 308.95 300.62 C 351.95 299.24 394.99 300.34 438.00 300.01 C 438.00 271.33 437.99 242.67 438.00 214.00 C 380.67 214.00 323.33 214.00 266.00 214.00 C 266.00 228.33 266.00 242.67 266.00 257.00 C 251.66 257.00 237.33 257.00 223.00 257.00 C 223.00 271.33 223.00 285.66 223.00 300.00 C 180.00 300.00 137.00 300.00 94.00 300.00 C 94.00 285.66 94.00 271.32 94.00 256.98 C 79.98 256.91 65.95 257.47 51.94 256.88 C 50.15 243.34 51.14 229.61 50.96 216.00 C 51.28 186.98 50.57 157.95 51.12 128.94 C 65.33 127.10 79.72 128.12 94.00 128.01 C 94.00 113.67 94.00 99.33 94.00 85.00 C 108.34 85.00 122.68 85.00 137.02 85.00 C 137.09 70.98 136.52 56.95 137.12 42.94 Z"
            ></path>
            <path
                fill="#fff"
                opacity="1.00"
                d=" M 225.42 558.00 C 296.28 557.99 367.14 558.01 438.00 558.00 C 437.99 599.33 438.00 640.67 438.00 682.00 C 423.66 682.00 409.33 681.99 395.00 682.00 C 395.00 696.33 395.00 710.66 395.00 725.00 C 352.00 725.00 309.00 724.99 266.00 725.00 C 265.99 710.66 266.00 696.33 266.00 681.99 C 252.33 682.00 238.67 681.99 225.00 682.01 C 225.27 640.67 224.44 599.32 225.42 558.00 Z"
            ></path></svg
        >
    </section>
</article>

<article id="me3" class="article flex relative alignI_c">
    <section class="text-content flex_col">
        <section class="top-section flex_col">
            <h1 class="Alumni_I">¿A donde voy?</h1>
            <q class="Poppins-S"
                >Con mi trabajo, sin temor a ello y nada más que eso, destilar
                mi valor y exito profesional sin importar la empresa.</q
            >
            <p class="Poppins-R">
                Personalmente aquel sujeto al cual sueles recurrir, gracias a la
                experiencia y conocimiento en todas las tecnologias y areas de
                su interes, ante un "Gridlock".<br />Alguien a quien puedas
                definir como especialista en el campo capaz de escribir <a
                    href="https://es.javascript.info/ninja-code"
                    target="_blank">Código Ninja</a
                > a su conveniencia.<br />
                Profesionalmente, con una solida carrera, experiencia y conocimientos tecnologicos,<br>el CEO de un, o varios, productos distintivos utiles e impactantes
                en el dia a dia de las sociedades.
            </p>
        </section>
    </section>
    <section class="image-section">
        <img
            src="https://res.cloudinary.com/dqgxt985j/image/upload/v1732247039/sparkles_t2ddaa.gif"
            alt=""
            class="unselected relative"
        />
    </section>
</article>

<article id="me4" class="flex_col">
    <h2 class="Alumni_I">Mira eso, qué humano</h2>
    <div class="Poppins-R flex_col">
        <div class="flex alignI_c">
            <h3>Qué amo</h3>
            <svg id="love"
                xmlns="http://www.w3.org/2000/svg"
                width="143"
                height="143"
                fill="none"
                viewBox="0 0 143 143"
            >
                <path
                    fill="#1ED760"
                    d="M40.219 58.792a6.703 6.703 0 1 0 13.406 0 6.703 6.703 0 0 0-13.406 0Zm49.156 0a6.703 6.703 0 1 0 13.406 0 6.703 6.703 0 0 0-13.406 0ZM71.5 8.937C36.951 8.938 8.937 36.951 8.937 71.5c0 34.549 28.014 62.562 62.563 62.562 34.549 0 62.562-28.013 62.562-62.562 0-34.549-28.013-62.563-62.562-62.563Zm36.728 99.291a51.947 51.947 0 0 1-16.52 11.143c-6.383 2.71-13.184 4.078-20.208 4.078-7.024 0-13.825-1.368-20.221-4.078a51.715 51.715 0 0 1-16.52-11.143 51.955 51.955 0 0 1-11.144-16.52C20.919 85.324 19.55 78.523 19.55 71.5c0-7.024 1.368-13.825 4.078-20.221a51.725 51.725 0 0 1 11.143-16.52 51.952 51.952 0 0 1 16.52-11.144c6.383-2.696 13.184-4.064 20.208-4.064 7.024 0 13.825 1.368 20.221 4.078a51.735 51.735 0 0 1 16.521 11.143 51.96 51.96 0 0 1 11.143 16.52c2.696 6.383 4.064 13.184 4.064 20.208 0 7.024-1.368 13.825-4.078 20.221a51.506 51.506 0 0 1-11.143 16.507ZM92.727 74.433h-6.718c-.586 0-1.089.446-1.13 1.033-.531 6.913-6.327 12.373-13.379 12.373s-12.862-5.46-13.378-12.373a1.128 1.128 0 0 0-1.132-1.033h-6.717a1.117 1.117 0 0 0-1.117 1.173c.615 11.772 10.404 21.17 22.344 21.17 11.94 0 21.73-9.398 22.344-21.17a1.119 1.119 0 0 0-1.117-1.173Z"
                ></path>
            </svg>
            <ul class="flex">
                <li>Color negro</li>
                <li>Produccion de contenidos audiovisuales</li>
                <li>Animaciones</li>
                <li>Videojuegos</li>
                <li>Mi moto <span>(Enduros)</span></li>
                <li>Admirar personas</li>
                <li>Aconsejar</li>
                <li>Gatos</li>
                <li>Cocinar <span>(Sí me anímo)</span></li>
                <li>Solitud <span>(Staying-at-home)</span></li>
                <li>Climas frios</li>
                <li>Trabajar en equipo <span>(Y el co-working)</span></li>
                <li>Conocer nuevos sitios</li>
            </ul>
        </div>
        <hr>
        <div class="flex alignI_c">
            <h3>Qué no tanto</h3><svg
                id="hate"
                xmlns="http://www.w3.org/2000/svg"
                width="143"
                height="143"
                fill="none"
                viewBox="0 0 143 143"
            >
                <path
                    fill="#D71E1E"
                    d="M40.219 58.792a6.703 6.703 0 0 0 13.4.294.424.424 0 0 0-.266-.407l-10.822-4.483a.538.538 0 0 0-.608.13 6.703 6.703 0 0 0-1.704 4.466Zm49.47-.13a.488.488 0 0 0-.305.47 6.704 6.704 0 1 0 11.843-4.632c-.234-.28-.632-.356-.969-.216L89.69 58.662ZM71.5 8.938C36.951 8.938 8.937 36.95 8.937 71.5c0 34.549 28.014 62.562 62.563 62.562 34.549 0 62.562-28.013 62.562-62.562 0-34.549-28.013-62.563-62.562-62.563Zm36.728 99.29a51.947 51.947 0 0 1-16.52 11.143c-6.383 2.71-13.184 4.078-20.208 4.078-7.024 0-13.825-1.368-20.221-4.078a51.715 51.715 0 0 1-16.52-11.143 51.955 51.955 0 0 1-11.144-16.52C20.919 85.324 19.55 78.523 19.55 71.5c0-7.024 1.368-13.825 4.078-20.221a51.725 51.725 0 0 1 11.143-16.52 51.952 51.952 0 0 1 16.52-11.144c6.383-2.696 13.184-4.064 20.208-4.064 7.024 0 13.825 1.368 20.221 4.078a51.735 51.735 0 0 1 16.521 11.143 51.96 51.96 0 0 1 11.143 16.52c2.696 6.383 4.064 13.184 4.064 20.208 0 7.024-1.368 13.825-4.078 20.221a51.506 51.506 0 0 1-11.143 16.507Z"
                ></path>
                <rect width="59" height="9" x="42" y="81" fill="#D71E1E" rx="1"
                ></rect>
            </svg>
            <ul class="flex">
                <li>Resultados incompletos</li>
                <li>Quedarme sin dinero</li>
                <li>Climas muy calientes</li>
                <li>Simps <span>(Personas sin valor)</span></li>
                <li>Gente que no soporta mi sentido del humor</li>
                <li>Cafe puro</li>
                <li>Falta de empatia</li>
                <li>Gente superautoritaria</li>
            </ul>
        </div>
    </div>
</article>

<style>
    .article {
        gap: 5rem;
    }
    .text-content {
        gap: 80px;
    }

    .top-section {
        padding-top: 150px;
    }

    .top-section h1 {
        font-size: clamp(3rem, 1.0774rem + 3.7936vw, 5rem);
        font-weight: 300;
        margin-block: 1em;
    }

    .top-section p {
        margin: 0;
        font-size: clamp(1rem, 0.0774rem + 1.7936vw, 1.2rem);
    }

    .image-section, .image-section * {
        z-index: -1
    }

    .photo {
        width: 600px;
    }

    .bottom-section {
        width: 450px;
        margin-block: 2rem;
        align-self: end;
    }

    .bottom-section > .player {
        grid-template-columns: auto auto 2fr;
        border: var(--green) solid 1px;
        border-radius: 8px;
    }

    .bottom-section * {
        text-wrap: none !important;
        white-space: nowrap;
    }

    .bottom-section > .player p {
        color: var(--green);
        margin: 5px;
    }

    .bottom-section svg {
        margin: 3px;
    }

    .carrousel {
        width: 155px;
        overflow: hidden;
    }

    .textoscroll {
        display: inline-block;
        padding-left: 100%;
        animation: scroll 5s linear infinite;
        animation-delay: 1s;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .bottom-section label {
        text-align: center;
        margin: 10px;
        color: #666666;
    }

    .bottom-section a {
        color: #939393;
    }

    .bottom-section label::before {
        content: url("https://res.cloudinary.com/dqgxt985j/image/upload/v1732161021/spotify-white_wwxzoe.webp");
        margin-right: 5px;
    }

    .eq-bar {
        fill: var(--green);
        transform: scale(1, -1) translate(0, -24px);
    }

    .eq-bar--1 {
        animation-name: short-eq;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
    }

    .eq-bar--1 {
        animation-name: short-eq;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
    }

    .eq-bar--2 {
        animation-name: tall-eq;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0.17s;
    }

    .eq-bar--3 {
        animation-name: short-eq;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-delay: 0.34s;
    }

    @keyframes short-eq {
        0% {
            height: 8px;
        }

        50% {
            height: 4px;
        }

        100% {
            height: 8px;
        }
    }

    @keyframes tall-eq {
        0% {
            height: 16px;
        }

        50% {
            height: 6px;
        }

        100% {
            height: 16px;
        }
    }

    #me2 {
        flex-direction: row-reverse;
    }

    #me2 p{
        transform: rotateZ(4deg);
    }

    #me2 .top-section {
        text-align: right;
    }

    #me2 svg {
        width: 20rem;
        height: 21.5rem;
    }

    #me3 .top-section,
    #me2 .top-section {
        padding-top: 0;
    }

    #me3 .photo {
        right: unset;
        transform: unset;
    }
    #me3 q {
        display: block;
        margin: auto;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    #me3 a {
        text-decoration: underline;
    }

    #me4 h2 {
        font-weight: normal;
        font-size: clamp(1.3rem, 0.0774rem + 2.7936vw, 2rem);
    }

    #me4 > div {
        border: var(--border) 1px solid;
        border-radius: 8px;
        padding: 1rem 4rem;
        gap: 2rem;
        width: fit-content;
    }

    #me4 > div div {
        gap: 2rem;
    }

    #me4 h3 {
        white-space: nowrap;
    }

    #me4 svg {
        flex-shrink: 0;
    }

    #love {
        transform: rotateZ(45deg)
    }

    #hate {
        transform: rotateZ(315deg)
    }

    #me4 hr {
        width: 100%;
        border: 1px 0 0 0 solid;
        border-color: var(--border);
        margin: 0;
    }

    #me4 ul {
        flex-wrap: wrap;
        gap: 1rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #me4 li {
        white-space: nowrap;
        padding: 5px 8px;
        border: var(--border) 1px solid;
        border-radius: 20px;
        place-self: center;
        text-align: center;
    }

    #me4 li span{
        color: #666;
        font-size: 0.8rem;
    }

    @media screen and (min-width: 1719px) {
        #me3 p {
            transform: rotateZ(360deg);
        }
    }

    @media screen and (max-width: 1075px) {
        article {
            flex-direction: column;
        }

        #me1 .image-section,
        #me2 .image-section,
        #me3 .image-section{
            position: absolute;
            top: 0;
        }

        #me1 .image-section,
        #me3 .image-section{
            right: 0;
        }

        #me2 .image-section{
            left: 0;
        }
        .photo {
            width: 280px
        }

        #me2 svg {
            width: 10rem;
            height: 10.5rem;
        }

        #me2 svg * {
            fill: var(--border);
            opacity: 0.5;
        }

        #me4 div div {
            flex-direction:column;
        }
    }

    @media screen and (max-width: 600px) {
        .bottom-section {
            flex-direction: column;
        }

        #me4 > div {
            padding-inline: 1rem;
        }

        #me4 ul {
            gap: 0.5rem;
            justify-content: space-evenly;
        }

        #me4 li {
            white-space:wrap;
            max-width: 40%;
            
        }

        #me4 li span::before {
            content: "";
            display: block;
        }

    }
</style>
