---

---

<p id="carousel" class="container Poppins-R text_center"></p>

<script>
    const nouns = [
        "Software Developer",
        "Dev in dev",
        "Pizza Time",
        '"FullStack"',
        "Frontend",
        "Backend",
        "Clearly Senior",
        "I mean, Jr",
        "Gamer"
    ];

    const carousel = document.querySelector("#carousel");

    function fadeText() {
        carousel.classList.remove("fade-in-text");
        carousel.classList.add("fade-out-text");

        setTimeout(() => {
            carousel.textContent = nouns[Math.floor(Math.random() * nouns.length)];
            carousel.classList.remove("fade-out-text");
            carousel.classList.add("fade-in-text");
        }, 3000);
    }

    carousel.textContent = nouns[Math.floor(Math.random() * nouns.length)];
    carousel.classList.add("fade-in-text");
    setInterval(fadeText, 20000);
</script>

<style>
    #carousel {
        color: var(--border);
        margin: 18px;
        font-size: 2rem;
        position: relative;
        flex-grow: 2;
        line-height: 0;
    }

    .fade-in-text {
        animation: fadeIn 4s;
        -webkit-animation: fadeIn 4s;
        -moz-animation: fadeIn 4s;
        -o-animation: fadeIn 4s;
        -ms-animation: fadeIn 4s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fade-out-text {
        animation: fadeOut 3s forwards;
        -webkit-animation: fadeOut 3s forwards;
        -moz-animation: fadeOut 3s forwards;
        -o-animation: fadeOut 3s forwards;
        -ms-animation: fadeOut 3s forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @-moz-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @-o-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @-ms-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @media screen and (max-height: 600px) { 
		p {
			display: none;
		}
	}
</style>
