---
import GlobalStyles from "../styles/GlobalStyles.astro";
import gsap from "gsap";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link id="icon" rel="icon" type="image/svg+xml" href="/circle.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <GlobalStyles />
    </head>
    <body class="noise flex j_sb dot-container">
        <!-- <div id="dot-container" class="absolute"></div> -->
        <slot name="navbar" />
        <section id="side-container" class="relative flex">
            <slot name="sidebar" />
        </section>
        <section id="content-container" class="relative">
            <slot name="main" />
            <slot name="footer" />
        </section>
    </body>
    <script>
        const activeIcon: string = "/circle.svg";
        const inactiveIcon: string = "/cross.svg";

        function changeFavicon(iconURL: string): void {
            const favicon = document.getElementById("icon") as HTMLLinkElement;
            if (favicon) {
                favicon.href = iconURL;
            }
        }

        document.addEventListener("visibilitychange", () => {
            if (document.visibilityState === "visible") {
                changeFavicon(activeIcon);
            } else {
                changeFavicon(inactiveIcon);
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            const sidebarRef = document.querySelector("#side-container") as HTMLElement;
			const aside = sidebarRef.querySelector("aside");
            const { width, height } = aside.getBoundingClientRect();
			sidebarRef.style.width = `${width}px`;
			sidebarRef.style.height = `${height}px`;
        });
    </script>
    <script src="/src/components/dots.js"></script>
</html>
<style>
    body {
        margin: 0;
        width: 100vw;
        overflow-x: hidden;
    }

    #dot-container {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    #side-container {
        z-index: 20;
		margin: 5px;
		flex-shrink: 0;
    }

    #content-container {
        z-index: 10;
        flex-grow: 2;
    }
</style>
